{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block pagetitle %}MayPi Doorman{% endblock %}</title>
		
		<link rel="stylesheet" href="{% static 'maypi.css' %}">
		<link href="{% static 'bootstrap.css' %}" rel="stylesheet">

		{%block sub-head %}{% endblock %}
		
		<style>
			{% block style %}{% endblock %}
		</style>
	</head>

	<body>
		<div id="full-page-wrapper">
		<div class="container-fluid" data-role="content">
			<div class="row">
				<nav class="navbar navbar-default" id="main-navigation" role="navigation">
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-left">
						<li><a class="navbar-brand" href="/">Maypi Doorman System:</a></li>
						{% if user.is_authenticated %}
							<li><a href="/">Logs</a></li>
							{% if user.is_superuser %}
							<li><a href="{% url 'users' %}">Users</a></li>
							<li><a href="{% url 'test_code' %}">Test Code</a></li>
							<li><a tabindex="-1" href="{% url 'admin:index' %}">Admin</a></li>
							{% endif %}
							<li><a href="{% url 'mobile' %}">Mobile Site</a></li>
							<li><a tabindex="-1" href="/logout/">Logout</a></li>
						{% else %}
							<li><a href="/login/">Login</a></li>
						{% endif %}
					</ul>
				</div>
				</nav>
			</div>

			{% block content %}
			{% endblock %}
		</div>
		<div id="footer" data-role="footer">
			<hr>
			{% block footer %}
			<div style="float:right; margin-right: 1em;"><a href="https://github.com/jsayles/maypi">MayPi Doorman</a></div>
			<div style="float:left; margin-left: 1em;">&copy; 2014 Jacob Sayles</div>
			{% endblock %}
		</div>
		</div>

		{% block extrajs %}
		{% endblock %}

		<!-- Le javascript -->
		<link rel="stylesheet" href="{% static 'jquery-ui-1.9.1.custom.css' %}" />    
		<script src="{% static 'jquery-1.8.2.js' %}"></script>
		<script src="{% static 'jquery-ui-1.9.1.custom.js' %}"></script>	
		<script src="{% static 'bootstrap.js' %}"></script>
		</div>
	</body>
</html>

